page-gatepass-home {
  .header{
    color: #8C2A37;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    }
    /*.blue-text{
    color: #8C2A37;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    }*/
    .info{
    color: #8C2A37;
    font-size: 15px;
    padding-left: 10px;

    }
    /*.hor-bar{
        height: 12px;
        width:90%;
        position: relative;
        top:15%;
        left: 5%;
        background-color: #B12A30;;
    }*/
    #applybtn{
        position: relative;
        top:50%;

    }
}
