page-page5{
    .header{
     text-align: center;
     font-size: 15px;
    }
    .big{
        font-style: italic;
        font-weight: bold;
        font-size: 13px;
        padding: 10px;
    }
    .course{
        font-size: 13px;
        padding: 10px;
    }
    .time,.venue{
        font-size: 17px;
        font-weight: bold;
        color: #BF242A;  
     }
    .lec{
        font-size: 15px;
        font-style: italic;        
        color: #7B212D;
    }
}
