page-page1 {
    .front{
    height:50px;
    width:5px;
    }
    ion-card {
    position: relative;
    text-align: center;
    }
  .content {
    position: absolute;
    top: 36%;
    font-size: 15px;
    width: 100%;
    /*color: #01A9DB;*/
    color: #B12A30;
    }
}
