page-local-gatepass {
  .ORtext{
    position: relative;
    top:35%;
    color: #8C2A37;
    font-size: 35px;
    padding: 5px;
    text-align: center;
    }
    #localbtn{
        position: relative;
        top:20%;

    }
    #outbtn{
        position: relative;
        top:50%;

    }
}
