page-page3 {
    /*.header{
    color: #B12A30;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    }
    .values{
    font-size: 15px;
    padding:10px;
    text-align: center;
   }
   .align{
    font-size: 15px;
    padding: 10px;
    text-align: center;
   }*/
    .front{
    height:50px;
    width:5px;
    }
    ion-card {
    position: relative;
    text-align: center;
    }
  .content {
    position: absolute;
    top: 25%;
    font-size: 15px;
    width: 100%;
    color: #B12A30;
    }
    .attd{
    color:black;
    }

   /*.table-header{
        padding: 10px;
        margin-left: 0px;
        font-size: 20px;
        color: #B12A30;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .attendance-information{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
        font-size: 15px;
        font-weight: normal;
    }  */
}
